<div id="home-blog" class="index-section home-section">
	<div class="home-blog">
		<div class="wrapper wrapper--margins">
		{%- assign blog = blogs[section.settings.blog] -%}

			{% if blogs[section.settings.blog] != blank %}

			  {% if section.settings.title != blank %}
			    <h2 class="home-section-title">{{ section.settings.title | escape }}</h2>
			  {% endif %}

			{% paginate blog.articles by section.settings.post_limit %}

			<div class="blog-list">

				{% for article in blog.articles %}
				  {% include 'blog_item' with blog.comments_enabled? %}
				{% endfor %}

			</div>

			{% if paginate.next.is_link %}
			  <p class="text-center"><a class="btn btn--large btn--outline btn--dark" href="{{ blog.url }}">More posts</a></p>
			{% endif %}

			{% endpaginate %}

			{% else %}

			<!-- onboarding -->
			<div class="onboarding">
				<h2 class="home-section-title">{{ 'homepage.onboarding.section_title' | t }}</h2>
				<p>{{ 'homepage.onboarding.no_content' | t }}</p>
			</div>

			{% endif %}

		</div>
	</div>
</div>



{% schema %}
{
  "name": {
    "de": "Blogposts",
    "en": "Blog posts",
    "es": "Entradas del blog",
    "fr": "Articles de blog",
    "it": "Articoli del blog",
    "ja": "ブログ記事",
    "pt-BR": "Posts do blog"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Header",
        "en": "Header",
        "es": "Encabezado",
        "fr": "En-tête",
        "it": "Header",
        "ja": "ヘッダー",
        "pt-BR": "Cabeçalho"
      },
      "default": {
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "pt-BR": "Blog"
      }
    },
    {
      "id": "blog",
      "type": "blog",
      "label": {
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "pt-BR": "Blog"
      }
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": {
        "de": "Posts",
        "en": "Posts",
        "es": "Publicaciones",
        "fr": "Articles",
        "it": "Articoli",
        "ja": "投稿",
        "pt-BR": "Posts"
      },
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Blogposts",
        "en": "Blog posts",
        "es": "Entradas del blog",
        "fr": "Articles de blog",
        "it": "Articoli del blog",
        "ja": "ブログ記事",
        "pt-BR": "Posts do blog"
      },
      "category": {
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "pt-BR": "Blog"
      },
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
